# General web stuff
/.htaccess
/robots.txt
/sitemap.xml
/*.sql
/google*.html

# Magento stuff
app/etc/local.xml
downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
/var/*
!/var/.htaccess
/pkginfo
includes/src
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
/feeds*
/media*
!media/wysiwyg
!app/design/adminhtml/default/default/template/media
!skin/adminhtml/default/default/aw_blog/js/tiny_mce/plugins/media
!skin/adminhtml/default/default/media
!js/tiny_mce/plugins/media
sitemaps/*
sitemap/*

# Various IDE &#038; OS files that should never be committed
.DS_Store
*.swp
*.lock
__MACOSX
.idea
/nbproject/*
.project
.buildpath
.thumbs
Thumbs.db
build.properties
.project
.settings
.buildpath
/_notes/*
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib

# Explicitly mark as "do not exclude/ignore these from GIT repository"
!/app/.htaccess
!/downloader/.htaccess
!/downloader/template/.htaccess
!/errors/.htaccess
!/includes/.htaccess
!/lib/.htaccess
!/media/.htaccess
!/media/customer/.htaccess
!/media/downloadable/.htaccess
!/pkginfo/.htaccess
!/var/.htaccess
!var/package/

# Custom
*.zip
.zip
.git_dls
/.git_dls
/.git_dls/
newadmin.php
magento-sample-data-1.9.1.0
