<?xml version="1.0"?>

<config>
    <modules>
        <DLS_DLSBlog>
            <version>1.0.0</version>
        </DLS_DLSBlog>
    </modules>
    <global>
        <resources>
            <dls_dlsblog_setup>
                <setup>
                    <module>DLS_DLSBlog</module>
                    <class>DLS_DLSBlog_Model_Resource_Setup</class>
                </setup>
            </dls_dlsblog_setup>
        </resources>
        <blocks>
            <dls_dlsblog>
                <class>DLS_DLSBlog_Block</class>
            </dls_dlsblog>
        </blocks>
        <helpers>
            <dls_dlsblog>
                <class>DLS_DLSBlog_Helper</class>
            </dls_dlsblog>
        </helpers>
        <models>
            <dls_dlsblog>
                <class>DLS_DLSBlog_Model</class>
                <resourceModel>dls_dlsblog_resource</resourceModel>
            </dls_dlsblog>
            <dls_dlsblog_resource>
                <class>DLS_DLSBlog_Model_Resource</class>
                <entities>
                    <blogset>
                        <table>dls_dlsblog_blogset</table>
                    </blogset>
                    <taxonomy>
                        <table>dls_dlsblog_taxonomy</table>
                    </taxonomy>
                    <filter>
                        <table>dls_dlsblog_filter</table>
                    </filter>
                    <layoutdesign>
                        <table>dls_dlsblog_layoutdesign</table>
                    </layoutdesign>
                    <tag>
                        <table>dls_dlsblog_tag</table>
                    </tag>
                    <post>
                        <table>dls_dlsblog_post</table>
                    </post>
                    <blogset_taxonomy>
                        <table>dls_dlsblog_blogset_taxonomy</table>
                    </blogset_taxonomy>
                    <taxonomy_blogset>
                        <table>dls_dlsblog_blogset_taxonomy</table>
                    </taxonomy_blogset>
                    <taxonomy_filter>
                        <table>dls_dlsblog_taxonomy_filter</table>
                    </taxonomy_filter>
                    <filter_taxonomy>
                        <table>dls_dlsblog_taxonomy_filter</table>
                    </filter_taxonomy>
                    <taxonomy_post>
                        <table>dls_dlsblog_taxonomy_post</table>
                    </taxonomy_post>
                    <post_taxonomy>
                        <table>dls_dlsblog_taxonomy_post</table>
                    </post_taxonomy>
                    <tag_post>
                        <table>dls_dlsblog_tag_post</table>
                    </tag_post>
                    <post_tag>
                        <table>dls_dlsblog_tag_post</table>
                    </post_tag>
                    <post_product>
                        <table>dls_dlsblog_post_product</table>
                    </post_product>
                    <post_comment>
                        <table>dls_dlsblog_post_comment</table>
                    </post_comment>
                    <post_comment_store>
                        <table>dls_dlsblog_post_comment_store</table>
                    </post_comment_store>
                    <eav_attribute>
                        <table>dls_dlsblog_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </dls_dlsblog_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <dls_dlsblog>
                        <class>DLS_DLSBlog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </dls_dlsblog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <dls_dlsblog>
                    <file>dls_dlsblog.xml</file>
                </dls_dlsblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <DLS_DLSBlog>
                    <files>
                        <default>DLS_DLSBlog.csv</default>
                    </files>
                </DLS_DLSBlog>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <dls_dlsblog_post_product>
                        <type>singleton</type>
                        <class>dls_dlsblog/adminhtml_observer</class>
                        <method>addProductPostBlock</method>
                    </dls_dlsblog_post_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <dls_dlsblog_post_product>
                        <type>singleton</type>
                        <class>dls_dlsblog/adminhtml_observer</class>
                        <method>saveProductPostData</method>
                    </dls_dlsblog_post_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <global_search>
            <post>
                <class>dls_dlsblog/adminhtml_search_post</class>
                <acl>dls_dlsblog</acl>
            </post>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DLS_DLSBlog before="Mage_Adminhtml">DLS_DLSBlog_Adminhtml</DLS_DLSBlog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <dls_dlsblog>
                        <class>dls_dlsblog/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </dls_dlsblog>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <dls_dlsblog>
                <use>standard</use>
                <args>
                    <module>DLS_DLSBlog</module>
                    <frontName>dlsblog</frontName>
                </args>
            </dls_dlsblog>
        </routers>
        <layout>
            <updates>
                <dls_dlsblog>
                    <file>dls_dlsblog.xml</file>
                </dls_dlsblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <DLS_DLSBlog>
                    <files>
                        <default>DLS_DLSBlog.csv</default>
                    </files>
                </DLS_DLSBlog>
            </modules>
        </translate>
    </frontend>
    <default>
        <dls_dlsblog>
            <taxonomy>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Taxonomies</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </taxonomy>
            <filter>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Filters</meta_title>
            </filter>
            <post>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <meta_title>Posts</meta_title>
            </post>
        </dls_dlsblog>
    </default>
</config>
