<?xml version="1.0"?>
<config>
    <modules>
        <DLS_Base>
            <version>1.0.0</version>
        </DLS_Base>
    </modules>

    <global>
        <models>
            <dls_base>
                <class>DLS_Base_Model</class>
            </dls_base>
        </models>

        <helpers>
            <dls_base>
                <class>DLS_Base_Helper</class>
            </dls_base>
        </helpers>

        <blocks>
            <dls_base>
                <class>DLS_Base_Block</class>
            </dls_base>
        </blocks>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <dls_base_adminhtml>
                    <file>dls/base.xml</file>
                </dls_base_adminhtml>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <dls_base>
            <logo>
                <skin_directory>adminhtml/base/default/images/dls/logo</skin_directory>
                <logo_dark_image_name>dls_logo_black.png</logo_dark_image_name>
                <logo_light_image_name>dls_logo_white.png</logo_light_image_name>
                <logo_dots_image_name>three_dots_logo.png</logo_dots_image_name>
                <logo_dots_dark_image_name>three_dots_logo_black.png</logo_dots_dark_image_name>
                <logo_dots_light_image_name>three_dots_logo_white.png</logo_dots_light_image_name>
            </logo>
            <website_url>https://www.dlssoftwarestudios.com/</website_url>
        </dls_base>
    </default>
</config>