<?xml version="1.0"?>

<config>
    <modules>
        <DLS_Blog>
            <version>1.0.4</version>
        </DLS_Blog>
    </modules>
    <global>
        <resources>
            <dls_blog_setup>
                <setup>
                    <module>DLS_Blog</module>
                    <class>DLS_Blog_Model_Resource_Setup</class>
                </setup>
            </dls_blog_setup>
        </resources>
        <blocks>
            <dls_blog>
                <class>DLS_Blog_Block</class>
            </dls_blog>
        </blocks>
        <helpers>
            <dls_blog>
                <class>DLS_Blog_Helper</class>
            </dls_blog>
        </helpers>
        <models>
            <dls_blog>
                <class>DLS_Blog_Model</class>
                <resourceModel>dls_blog_resource</resourceModel>
            </dls_blog>
            <dls_blog_resource>
                <class>DLS_Blog_Model_Resource</class>
                <entities>
                    <blogset>
                        <table>dls_blog_blogset</table>
                    </blogset>
                    <taxonomy>
                        <table>dls_blog_taxonomy</table>
                    </taxonomy>
                    <filter>
                        <table>dls_blog_filter</table>
                    </filter>
                    <layoutdesign>
                        <table>dls_blog_layoutdesign</table>
                    </layoutdesign>
                    <tag>
                        <table>dls_blog_tag</table>
                    </tag>
                    <post>
                        <table>dls_blog_post</table>
                    </post>
                    <blogset_taxonomy>
                        <table>dls_blog_blogset_taxonomy</table>
                    </blogset_taxonomy>
                    <taxonomy_blogset>
                        <table>dls_blog_blogset_taxonomy</table>
                    </taxonomy_blogset>
                    <taxonomy_filter>
                        <table>dls_blog_taxonomy_filter</table>
                    </taxonomy_filter>
                    <filter_taxonomy>
                        <table>dls_blog_taxonomy_filter</table>
                    </filter_taxonomy>
                    <taxonomy_post>
                        <table>dls_blog_taxonomy_post</table>
                    </taxonomy_post>
                    <post_taxonomy>
                        <table>dls_blog_taxonomy_post</table>
                    </post_taxonomy>
                    <tag_post>
                        <table>dls_blog_tag_post</table>
                    </tag_post>
                    <post_tag>
                        <table>dls_blog_tag_post</table>
                    </post_tag>
                    <post_product>
                        <table>dls_blog_post_product</table>
                    </post_product>
                    <post_comment>
                        <table>dls_blog_post_comment</table>
                    </post_comment>
                    <post_comment_store>
                        <table>dls_blog_post_comment_store</table>
                    </post_comment_store>
                    <eav_attribute>
                        <table>dls_blog_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </dls_blog_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <dls_blog>
                        <class>DLS_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </dls_blog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <dls_blog>
                    <file>dls_blog.xml</file>
                </dls_blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <DLS_Blog>
                    <files>
                        <default>DLS_Blog.csv</default>
                    </files>
                </DLS_Blog>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <dls_blog_post_product>
                        <type>singleton</type>
                        <class>dls_blog/adminhtml_observer</class>
                        <method>addProductPostBlock</method>
                    </dls_blog_post_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <dls_blog_post_product>
                        <type>singleton</type>
                        <class>dls_blog/adminhtml_observer</class>
                        <method>saveProductPostData</method>
                    </dls_blog_post_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <global_search>
            <post>
                <class>dls_blog/adminhtml_search_post</class>
                <acl>dls_blog</acl>
            </post>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DLS_Blog before="Mage_Adminhtml">DLS_Blog_Adminhtml</DLS_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <dls_blog>
                        <class>dls_blog/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </dls_blog>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <controller_action_layout_load_before>
                <observers>
                    <dls_dlsblog_controller_action_layout_load_before>
                        <class>dls_dlsblog/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </dls_dlsblog_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <routers>
            <dls_blog>
                <use>standard</use>
                <args>
                    <module>DLS_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </dls_blog>
        </routers>
        <layout>
            <updates>
                <dls_blog>
                    <file>dls_blog.xml</file>
                </dls_blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <DLS_Blog>
                    <files>
                        <default>DLS_Blog.csv</default>
                    </files>
                </DLS_Blog>
            </modules>
        </translate>
    </frontend>
    <default>
        <dls_blog>
            <blogset>
                <breadcrumbs>1</breadcrumbs>
            </blogset>
            <taxonomy>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Taxonomies</meta_title>
                <tree>1</tree>
                <recursion>0</recursion>
            </taxonomy>
            <filter>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Filters</meta_title>
            </filter>
            <post>
                <breadcrumbs>1</breadcrumbs>
                <allow_comment>1</allow_comment>
                <meta_title>Posts</meta_title>
            </post>
        </dls_blog>
    </default>
</config>
