.sub-menu-taxonomies{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0px 0 8px 0;
    border-bottom: 3px double #d6d6d6;
    padding-left: 10px;
    padding-right: 10px;
}
.sub-menu-taxonomies li{
    display: inline-block;
    float: left;
}
.sub-menu-taxonomies li a.menu-item{
    padding-left: 50px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #484848;
    text-shadow: 0.5px 0.5px #e2e2e2;
    outline: none;
}
.sub-menu-taxonomies li a:hover,
.sub-menu-taxonomies li a:focus,
.sub-menu-taxonomies li a:active{
    color: #e14d43 !important;
}
.sub-menu-taxonomies li a{
    line-height: 47px;   
}
.sub-menu-taxonomies li a.sub-menu-title{
    font-weight: 100;
    text-transform: none;
    font-size: 40px;
    color: #3399cc;
    letter-spacing: 0px;
    padding-right: 20px;
    border-right: 1px solid #b9b4b4;
    display: inline;
    outline: none;
}
.sub-menu-taxonomies li a.sub-menu-title:hover,
.sub-menu-taxonomies li a.sub-menu-title:focus{
    color: #3399cc !important;
}
.dls-dlsblog-blogset-view .main,
.dls-dlsblog-taxonomy-view .main
.dls-dlsblog-filter-view .main {
    padding: 0 30px;
}
.dls-dlsblog-blogset-view .post-view .post-title a,
.dls-dlsblog-taxonomy-view .post-view .post-title a,
.dls-dlsblog-filter-view .post-view .post-title a{
    color: black;
    font-size: 40px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-decoration: none;
}
.dls-dlsblog-blogset-view .post-view .post-title a:hover,
.dls-dlsblog-blogset-view .post-view .post-title a:active,
.dls-dlsblog-taxonomy-view .post-view .post-title a:hover,
.dls-dlsblog-taxonomy-view .post-view .post-title a:active,
.dls-dlsblog-filter-view .post-view .post-title a:hover,
.dls-dlsblog-filter-view .post-view .post-title a:active{
    color: #e14d43;
}
/*.dls-dlsblog-blogset-view .post-view .post-header,
.dls-dlsblog-taxonomy-view .post-view .post-header,
.dls-dlsblog-filter-view .post-view .post-header{
    padding-top: 40px;
}*/
.dls-dlsblog-blogset-view .post-view .post-meta,
.dls-dlsblog-taxonomy-view .post-view .post-meta,
.dls-dlsblog-filter-view .post-view .post-meta{
    color: #a5a5a5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.dls-dlsblog-blogset-view .post-view .post-meta .post-comment-link,
.dls-dlsblog-taxonomy-view .post-view .post-meta .post-comment-link,
.dls-dlsblog-filter-view .post-view .post-meta .post-comment-link{
    padding-left: 15px;
}
.dls-dlsblog-blogset-view .post-view .post-meta .post-comment-link a,
.dls-dlsblog-taxonomy-view .post-view .post-meta .post-comment-link a,
.dls-dlsblog-filter-view .post-view .post-meta .post-comment-link a{
    color: #a5a5a5;
    text-decoration: none;
    outline: none;
}
.dls-dlsblog-blogset-view .post-view .post-meta .post-comment-link a:hover,
.dls-dlsblog-taxonomy-view .post-view .post-meta .post-comment-link a:hover,
.dls-dlsblog-filter-view .post-view .post-meta .post-comment-link a:hover{
    color: black;
}
.dls-dlsblog-blogset-view .post-view .post-title,
.dls-dlsblog-taxonomy-view .post-view .post-title,
.dls-dlsblog-filter-view .post-view .post-title{
    margin-bottom: 0;
    padding-bottom: 10px;
}
.dls-dlsblog-blogset-view .post-view .fa,
.dls-dlsblog-taxonomy-view .post-view .fa,
.dls-dlsblog-filter-view .post-view .fa{
    font-size: 18px;
    padding-right: 7px;
}
.dls-dlsblog-blogset-view .post-view .post-small_image,
.dls-dlsblog-taxonomy-view .post-view .post-small_image,
.dls-dlsblog-filter-view .post-view .post-small_image{
    padding: 20px 0;
}
.dls-dlsblog-blogset-view .post-view .post-read-more .read-more,
.dls-dlsblog-taxonomy-view .post-view .post-read-more .read-more,
.dls-dlsblog-filter-view .post-view .post-read-more .read-more{
    color: #e14d43;
    text-decoration: none;
    font-size: 18px;
    font-size: 18px;
}
.dls-dlsblog-blogset-view .post-view .post-read-more .read-more:hover,
.dls-dlsblog-taxonomy-view .post-view .post-read-more .read-more:hover,
.dls-dlsblog-filter-view .post-view .post-read-more .read-more:hover{
    color: black;
    outline: none;
}
.dls-dlsblog-blogset-view .post-view .post-read-more,
.dls-dlsblog-taxonomy-view .post-view .post-read-more,
.dls-dlsblog-filter-view .post-view .post-read-more{
    padding: 20px 0;
}
.dls-dlsblog-blogset-view .post-view .post-short_content,
.dls-dlsblog-taxonomy-view .post-view .post-short_content,
.dls-dlsblog-filter-view .post-view .post-short_content{
    font-size: 17px;
    line-height: 1.625;
    color: black;
}
.dls-dlsblog-blogset-view .post-view,
.dls-dlsblog-taxonomy-view .post-view,
.dls-dlsblog-filter-view .post-view{
    border-bottom: 1px dotted #ddd;
    margin-bottom: 40px;
}
.dls-dlsblog-post-view .page-title .post-title{
    color: black;
    font-size: 40px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.dls-dlsblog-post-view  .main {
    padding: 15px 30px 0;
}
.dls-dlsblog-post-view .post-view .post-meta{
    color: #a5a5a5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.dls-dlsblog-post-view .post-view .post-meta .post-comment-link{
    padding-left: 15px;
}
.dls-dlsblog-post-view .post-view .post-meta .post-comment-link a{
    color: #a5a5a5;
    text-decoration: none;
}
.dls-dlsblog-post-view .post-view .post-meta .post-comment-link a:hover,
.dls-dlsblog-post-view .post-view .post-meta .post-comment-link a:focus{
    color: black;
}
.dls-dlsblog-post-view .post-view .post-title {
    color: black;
    font-size: 40px;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.dls-dlsblog-post-view .post-view .post-large_image{
    padding: 20px 0;
}
.dls-dlsblog-post-view .post-view .fa{
    font-size: 18px;
    padding-right: 7px;
}
.dls-dlsblog-post-view .post-view .post-main_content{
    font-size: 17px;
    line-height: 1.625;
    color: black;
    border-bottom: 2px solid #ddd;
}
.dls-dlsblog-post-view .post-view .post-main_content .main_content{
    padding-bottom: 20px;
}
.dls-dlsblog-post-view .form-add{
    padding-top: 20px;
}
.dls-dlsblog-post-view .form-add h2{
    font-weight: 600;
    color: black;
}
.dls-dlsblog-blogset-view .breadcrumbs,
.dls-dlsblog-post-view .breadcrumbs,
.dls-dlsblog-taxonomy-view .breadcrumbs,
.dls-dlsblog-filter-view .breadcrumbs{
    display: none;
}
.sidebar .widget{
    margin-bottom: 40px;
    overflow: hidden;
}
.blog .widget-title{
    background-color: #000;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding: 15px 15px;
    text-transform: uppercase; 
}
.blog.simple-social-icons ul.aligncenter{
    text-align: center;
}
.blog.simple-social-icons ul.aligncenter li{
    display: inline-block;
    float: none;
}
.blog.simple-social-icons ul li a{
    box-sizing: content-box;
    display: inline-block;
    font-family: 'ssi-icomoon';
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1em;
    speak: none;
    text-align: center;
    text-decoration: none !important;
    text-transform: none !important;
    width: 1em;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff !important;
    border-radius: 0px;
    color: #000000 !important;
    border: 0px #ffffff solid !important;
    font-size: 18px;
    padding: 9px;  
    outline: none;

}
.blog.simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus{
    background-color: #e14d43 !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}
.blog #blog_subscription p{
    color: #000;
    font-weight: 500;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    padding-bottom: 10px;
}
.blog #subscribe-email input{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 16px;
}
.blog #subscribe-email input:focus{
    border: 1px solid #999;
    outline: none;
}
.blog #subscribe-submit button[type="submit"]{
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 24px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.blog p#subscribe-email{
    padding: 10px 0;
}
#taxonomies-list-container {
    padding: 15px 0 30px 0;
}
.blog #subscribe-submit button:hover[type="submit"]{
    background-color: #e14d43;
    color: #fff;
}
.dls-dlsblog-blogset-view .pager-no-toolbar,
.dls-dlsblog-taxonomy-view .pager-no-toolbar,
.dls-dlsblog-filter-view .pager-no-toolbar{
    margin: 20px 0 0 0;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .count-container,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .count-container,
.dls-dlsblog-filter-view .pager-no-toolbar .count-container{
    color: #000;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .limiter,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .limiter,
.dls-dlsblog-filter-view .pager-no-toolbar .limiter{
    color: black;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .limiter label,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .limiter label,
.dls-dlsblog-filter-view .pager-no-toolbar .limiter label{
    font-size: 14px;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .limiter select,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .limiter select,
.dls-dlsblog-filter-view .pager-no-toolbar .limiter select{
    font-size: 14px;
    color: black;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .count-container,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .count-container,
.dls-dlsblog-filter-view .pager-no-toolbar .count-container{
    display: none;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .limitter,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .limitter,
.dls-dlsblog-filter-view .pager-no-toolbar .limitter{
    display: none;
}
.dls-dlsblog-blogset-view .pager-no-toolbar li a,
.dls-dlsblog-taxonomy-view .pager-no-toolbar li a,
.dls-dlsblog-filter-view .pager-no-toolbar li a{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: auto !important;
    text-decoration: none;
    outline: none;
}
.dls-dlsblog-blogset-view .pager-no-toolbar li a:hover,
.dls-dlsblog-taxonomy-view .pager-no-toolbar li a:hover,
.dls-dlsblog-filter-view .pager-no-toolbar li a:hover{
    background-color: #e14d43 !important;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .current,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .current,
.dls-dlsblog-filter-view .pager-no-toolbar .current{
    background-color: #e14d43 !important;
    color: #fff !important;
    height: auto !important;
    font-size: 16px !important;
}
.dls-dlsblog-blogset-view .pager-no-toolbar li,
.dls-dlsblog-taxonomy-view .pager-no-toolbar li,
.dls-dlsblog-filter-view .pager-no-toolbar li{
    padding: 0 5px;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .previous,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .previous,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .previous{
    color: transparent;
    font-size: 0px;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .next:before,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .next:before,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .next:before{
    border-left: 4px solid #000;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .next:focus,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .next:focus,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .next:focus{
    outline-color: transparent;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .next:hover,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .next:hover,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .next:hover{
    border: none;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .next:hover:before,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .next:hover:before,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .next:hover:before{
    border-left: 4px solid #e14d43;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .previous:hover,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .previous:hover,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .previous:hover{
    border: none;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .previous:before,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .previous:before,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .previous:before{
    border-right: 4px solid #000;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .previous:hover:before,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .previous:hover:before,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .previous:hover:before{
    border-right: 4px solid #e14d43;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages .previous:focus,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages .previous:focus,
.dls-dlsblog-filter-view .pager-no-toolbar .pages .previous:focus{
    outline-color: transparent;
}
.dls-dlsblog-blogset-view .pager-no-toolbar .pages,
.dls-dlsblog-taxonomy-view .pager-no-toolbar .pages,
.dls-dlsblog-filter-view .pager-no-toolbar .pages{
    margin-left: 0;
    margin-bottom: 0;
}
.dls-dlsblog-post-view .form-add .buttons-set button.button{
    float: left;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 24px;
    text-align: center;
    text-transform: uppercase;
}
.dls-dlsblog-post-view .form-add .buttons-set button.button:hover,
.dls-dlsblog-post-view .form-add .buttons-set button.button:focus{
    background-color: #e14d43;
    color: #fff;
}
.taxonomies-list-container .taxonomy-list-item{
    color: #a5a5a5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.taxonomies-list-container .taxonomy-list-item a{
    color: #a5a5a5;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.taxonomies-list-container .taxonomy-list-item a:hover,
.taxonomies-list-container .taxonomy-list-item a:focus{
    color: #000;
}
.dls-dlsblog-post-view .form-add .buttons-set{
    padding: 20px 0;
}
.dls-dlsblog-post-view .form-add .buttons-set button{
    margin-left: 0;
}
.dls-dlsblog-blogset-view .post-paging,
.dls-dlsblog-taxonomy-view .post-paging,
.dls-dlsblog-filter-view .post-paging{
    display: inline-block;
}
